body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gray;
}
div#body {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    text-align: center;
    background-color: white;
    border-radius: 0.5em;
}
footer {
    display: block;
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 2em 2em 1em 2em;
    text-align: center;
    border-radius: 0.5em;
}
#timeDisplay {
    padding: 1em;
}

h1 {
    display: inline-block;
    text-align: center;
}
span {
	display: block;
	font-size: 0.6em;
	color: gray;
	padding-top: 0.1em;
}
#output, #output2 {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid rgba(0, 255, 0, 0.2);
}
#output p {
    padding-bottom: 0.6em;
    border-bottom: 1px solid rgba(0, 255, 0, 0.2);
}
#output p:last-of-type {
    border-bottom: none;
}
#output2 p {
    padding-bottom: 0.6em;
    border-bottom: 1px solid rgba(255, 255, 0, 0.2);
}
#output2 p:last-of-type {
    border-bottom: none;
}
#output2 {
    background-color: rgba(255, 255, 0, 0.1) !important;
    border: 1px solid rgba(255, 255, 0, 0.2) !important;
}
#output hr {
    border-color: rgba(0, 255, 0, 0.2);
}
#output p {
    text-align: left;
    margin-left: 20%;
}

@media (max-width: 1200px) {
    div#body {
        width: 99% !important;
    }
	footer {
		width: 99% !important;
	}
}
@media (max-width: 900px) {
    #output, #output2 {
        width: 90%;
    }
}

@media (min-width: 1201px) {
    div#body {
        font-size: 1.5em !important;
    }
}
