@font-face {
    font-family: "Coolvetica";
    src: url("coolvetica/coolvetica rg.ttf");
}
body {
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("wwu.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none;
}
div#body {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 3em; */
    margin-top: 3em;
    text-align: center;
    color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.65);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

iframe#modalImg {
    border: 0;
}

#debug {
    color: red;
}

footer {
    display: block;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.65);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 2em 2em 1em 2em;
    text-align: center;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-weight: 600;
}
footer span {
    display: inline !important;
    font-size: 1em !important;
}
footer span::after {
    content: " | ";
}
footer span:last-of-type::after {
    content: "" !important;
}
a.imgHover {
    font-size: 0.8em;
}

#timeDisplay {
    font-weight: 600;
    padding: 1em;
}

#loader, #loader2 {
    width: 65px;
    height: 65px;
}
h1 {
    display: inline-block;
    text-align: center;
}

h1.wwuhungry-header {
    font-size: 80px;
    font-family: "Coolvetica";
    font-weight: normal !important;
    letter-spacing: 0.025em;
    margin-bottom: 0;
    color: #003f87;
}
h1.wwuhungry-header span {
    display: inline !important;
    font-weight: bold;
    font-size: 1.15em;
    color: #0083d6;
}
h3#timeDisplay {
    margin-top: 1em;
    padding-top: 0;
}

span {
	display: block;
	font-size: 0.6em;
	padding-top: 0.1em;
}
span.special {
    font-weight: bold !important;
    font-size: 0.75em !important;
    margin: 1em;
}

span#refreshIcon {
    display: inline;
    font-size: 1em;
    padding-top: 1em;
}
.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
#refresh {
    display: block;
    margin-bottom: 1em;
}
#refresh-link {
    background-color: #0083d6;
    border-color: #0083d6;
}
#output, #output2 {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    padding: 0em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
    background-color: rgba(70, 219, 70, 0.5);
    border: 1px solid rgba(0, 255, 0, 0.2);
    border-radius: 0.4em;
}
#output-inner, #output2-inner {
    display: none;
}
#output2 {
    background-color: rgba(255, 235, 90, 0.5) !important;
    border: 1px solid rgba(255, 255, 0, 0.2) !important;
}
#output h3 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 255, 0, 0.2);
}
#output2 h3 {
    padding-bottom: 0.5em;
    border-bottom: 0.5px solid rgba(255, 255, 0, 0.6);
}
#output p {
    margin-top: 0;
    padding-bottom: 0.6em;
    border-bottom: 1px solid rgba(0, 255, 0, 0.2);
}
#output p:last-of-type {
    border-bottom: none;
}
#output2 p {
    padding-bottom: 0.6em;
    border-bottom: 0.5px solid rgba(255, 255, 0, 0.6);
}
#output2 p:last-of-type {
    border-bottom: none;
}
#output hr {
    border-color: rgba(0, 255, 0, 0.2);
}
#output p, #output2 p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 1200px) {
    div#body {
        width: 100% !important;
        border-radius: 0 !important;
    }
	footer {
		width: 100% !important;
        border-radius: 0 !important;
    }
    h1.wwuhungry-header {
        font-size: 48px !important;
    }
    #timeDisplay {
        font-size: 1.5em;
    }
    #output, #output2 {
        font-weight: 600;
    }
    span:not(.special) {
        font-size: 0.8em;
    }
    span.special {
        font-size: 1em !important;
    }

}
@media (max-width: 900px) {
    body {
        background-attachment: fixed !important;
        background-size: 1600px !important;
    }
    div#body {
        margin-top: 0;
    }
    #output, #output2 {
        width: 90%;
    }
    footer {
        margin-bottom: 0;
    }
    footer span {
        display: block !important;
    }
    footer span::after {
        content: "" !important;
    }
}

@media (min-width: 1201px) {
    div#body {
        font-size: 1.5em !important;
    }
}
