html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: lightgray;
}
#main {
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: white;
}
form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
form input {
    font-size: 2em;
    vertical-align: top;
}
div#form-wrapper {
    margin-top: 4em;
}